@import "../app.variable.less";

.btnTab {
    background-color: #fafafa;
    margin: -7 -4;
    opacity: 0.9;
}

.btnTab-active {
    background-color: #cccccc;
    color: @lightBlue;
    opacity: 1;
}

.btnTab-notActive {
    background-color: #fafafa;
    color: @mediumBlue;
}

.icon {
    font-family: 'IcoMoon';
    font-size: 25%;
 }