<div *ngIf="showNavBar">
    <StackLayout orientation="horizontal" >
        <GridLayout rows="*, 55">
            <StackLayout row="1">
                <StackLayout class="hr-light"></StackLayout>
                <GridLayout [columns]="gridColumnsGenerator(!showStudentSelection ? 3 : 4)">
                    <Button col="0" 
                        class="icon btnTab" 
                        text="{{ iconCodeMenu }}" 
                        (tap)="onTabViewClicked(0)" 
                        [class.btnTab-active]="tabViewSelectedIndex===0" 
                        [class.btnTab-notActive]="tabViewSelectedIndex!==0">
                    </Button>
                    <Button col="1" 
                        class="icon btnTab" 
                        text="{{ iconCodeHomework }}" 
                        (tap)="onTabViewClicked(1)" 
                        [class.btnTab-active]="tabViewSelectedIndex===1" 
                        [class.btnTab-notActive]="tabViewSelectedIndex!==1">
                    </Button>
                    <Button *ngIf="showStudentSelection" 
                        col="2" class="icon btnTab" 
                        text="{{ iconCodeStudentSelection }}" 
                        (tap)="onTabViewClicked(2)" 
                        [class.btnTab-active]="tabViewSelectedIndex===2" 
                        [class.btnTab-notActive]="tabViewSelectedIndex!==2">
                    </Button>
                    <Button *ngIf="totalNotification === 0"
                        [col]="!showStudentSelection ? 2 : 3" 
                        class="icon btnTab"
                        text="{{ iconCodeNotification }}"
                        (tap)="onTabViewClicked(3)" 
                        [class.btnTab-active]="tabViewSelectedIndex===3" 
                        [class.btnTab-notActive]="tabViewSelectedIndex!==3">                       
                    </Button>
                    <StackLayout [col]="!showStudentSelection ? 2 : 3" 
                        class="btnTab stackLayout-label" 
                        (tap)="onTabViewClicked(3)" 
                        [class.btnTab-active]="tabViewSelectedIndex===3"
                        [class.btnTab-notActive]="tabViewSelectedIndex!==3"
                        verticalAlignment="center">
                        <Label *ngIf="totalNotification != 0"
                            class="notification" 
                            text="{{ totalNotification }}">                       
                        </Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</div>