<ActionBar android:title="Homework"></ActionBar>

<GridLayout class="page page-content">
    <TabView selectedIndex="0">
        <ng-container *ngFor="let tab of homeworksTab">
            <ListView class="list-group"
                [items]=tab.items
                *tabItem="{ title: tab.title }"
            >
                <ng-template let-item="item">
                    <GridLayout columns="*, 40" (tap)="onItemTap(item)">
                        <StackLayout col=0>
                            <Label [text]="item.subject" class="list-group-item"></Label>
                            <StackLayout class="list-group-item list-group-item-sub">
                                <Label [text]="item.createdBy" ></Label>
                                <Label [text]='item.dueDate | date:"fullDate"' ></Label>
                            </StackLayout>
                        </StackLayout>
                        <Label col=1 class="icon" horizontalAlignment="center" verticalAlignment="center" text="{{ iconCode }}"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </ng-container>
    </TabView>
</GridLayout>