<actionbar title="{{currentUser.children.length > 1 ? 'Child Selection' : 'Student Selection'}}" hasNavigationBack="true"></actionbar>

<WrapLayout class="container" orientation="horizontal">
    <StackLayout *ngFor="let item of students" class="selection-item" [class.selection-item-active]="selectedStudent.id === item.id" (tap)="onTap(item)">
        <GridLayout rows="10*, 3*">
            <Image row="0" class="selection-item-image" 
                [src]="item.image" stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center">
            </Image>

            <StackLayout row="1" class="item-stackText" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
                <Label class="item-textheader" [text]="item.fname + ' ' + item.lname"
                    verticalAlignment="center" horizontalAlignment="center">
                </Label>
                <Label *ngIf="item.hasIncompleteHomework" class="icon warningIconCode" [class.warningIconCode-active]="selectedStudent.id === item.id" [text]="warningIconCode" 
                    verticalAlignment="top" horizontalAlignment="right">
                </Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</WrapLayout>
<ActivityIndicator [busy]="isLoading" horizontalAlignment="center"></ActivityIndicator>