@import "../app.variable.less";

.break {
    background-color: @darkGray;
    color: #ffffff;
    font-size: 16%;
}

.highlight {
    background-color: @blue;
    color: #ffffff;
}

.lbl-nolesson {
    text-align: center;
    font-size: 16%;
}

.list-group-item-sub {
    color: #898585;
    font-size: 12em;
    margin-top: -15px;
    padding-top: 0px;
}

.sub-text {
    font-size: 13%;
    text-decoration: none;
}

.subject-colour {
    background-color: @darkGray;
}