@import "../app.variable.less";

.break {
    background-color: @darkGray;
}

.highlight {
    background-color:  #2e86c1;
    color: #ffffff;
}

.lbl-nolesson {
    text-align: center;
    font-size: 16%;
}

.list-group-item-sub {
    color: #898585;
    font-size: 12em;
    margin-top: -15px;
    padding-top: 0px;
}

.sub-text {
    font-size: 13%;
    text-decoration: none;
}