@import "../app.variable.less";

.button {
    background-color: @lightBlue;
    color: white;
    width: 40%;
}

.container { 
    background-color: #ededed;
    padding: 10%;
}

.container-forgotpassword {
    background-color: #ffffff;
    padding: 10%;
}

.error-msg {
    color: red;
    font-size: 15em;
    padding: 5 0;
}

.txt-class { 
    font-family: Arial;
    font-size: 16%;
    height: 50;
}