<ActionBar android:title="Forgot Password">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<GridLayout class="container" rows="auto, auto, auto, auto, *">
    <GridLayout *ngIf="pageState === 0" row="0" rows="auto, auto, auto" class="container-input">
        <TextField required row="0" class="input txt-class" [class.txt-class-error]="errorMessageEmailAddress.length > 0"
            hint="Email Address (emailaddress@email.com)" autocapitalizationType="none" [(ngModel)]="emailAddress"
            keyboardType="email">
        </TextField>

        <Label *ngIf="errorMessageEmailAddress.length > 0" row="1" class="error-msg" [text]="errorMessageEmailAddress" ></Label>

        <StackLayout row="2" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
            <Button class="button" text="Send Code" (tap)="sendCode()"></Button>
            <Button class="button" text="Clear" (tap)="clearEmailAddress()"></Button>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="pageState === 1" row="1" rows="auto, auto, auto" class="container-input">
        <TextField required row="0" class="input txt-class" [class.txt-class-error]="errorMessageCode.length > 0" 
            hint="Code" autocapitalizationType="none" [(ngModel)]="code">
        </TextField>

        <Label *ngIf="errorMessageCode.length > 0" row="1" class="error-msg" [text]="errorMessageCode" ></Label>

        <StackLayout row="2" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
            <Button class="button" text="Enter Code" (tap)="enterCode()"></Button>
            <Button class="button" text="Clear" (tap)="clearCode()"></Button>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="pageState === 2" row="2" rows="auto, auto, auto, auto" class="container-input">
        <TextField required row="0" class="input txt-class" [class.txt-class-error]="errorMessageNewPassword.length > 0"  
            hint="New Password" [(ngModel)]="passwordNew" secure="true">
        </TextField>
        <TextField required row="1" class="input txt-class" [class.txt-class-error]="errorMessageConfirmPassword.length > 0" 
            hint="Confirm Password" [(ngModel)]="passwordConfirm" secure="true">
        </TextField>

        <Label *ngIf="errorMessageNewPassword.length > 0" row="2" class="error-msg" [text]="errorMessageNewPassword" ></Label>
        <Label *ngIf="errorMessageConfirmPassword.length > 0" row="2" class="error-msg" [text]="errorMessageConfirmPassword" ></Label>

        <StackLayout row="3" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
            <Button class="button" text="Change Password" (tap)="changePassword()"></Button>
            <Button class="button" text="Clear" (tap)="clearPasswords()"></Button>
        </StackLayout>
    </GridLayout>

    <StackLayout *ngIf="pageState === 3" row="3" class="container-confirmation" orientation="horizontal">
        <Label text="Password has been changed. Tap "></Label>
        <Label class="lbl-tap" text="this" (tap)="backToLogin()"></Label>
        <Label text=" to go back to log in."></Label>
    </StackLayout>
</GridLayout>