<ActionBar android:title="Forgot Password"></ActionBar>

<GridLayout class="container" rows="auto, *">
    <GridLayout row="0" rows="auto, auto, auto" class="container-forgotpassword">
        <TextField required row="0" class="input txt-class" required hint="Email Address (emailaddress@gmail.com)" [(ngModel)]="emailAddress"></TextField>

        <Label *ngIf="errorMessage.length > 0" row="1" class="error-msg" [text]="errorMessage" ></Label>

        <StackLayout row="2" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
            <Button class="button" text="Send Code" (tap)="sendCode()"></Button>
            <Button class="button" text="Clear" (tap)="clear()"></Button>
        </StackLayout>
    </GridLayout>
</GridLayout>