<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer drawerLocation="right">
    <GridLayout #sideDrawer tkDrawerContent rows="auto, auto, *" class="sidedrawer">
        <GridLayout *ngIf="currentUser" row="0" rows="2*, *" class="sidedrawerHeader">
            <Image row="0" class="displaypicture" [class.displaypicture-silhouette]="currentUser.image === '~/images/silhouette.png'" [src]="currentUser.image" stretch="aspectFill"></Image>
            <StackLayout row="1">
                <Label [text]="currentUser.fname + ' ' + currentUser.lname" class="sidedrawerHeaderLabel"></Label>
                <Label [text]="decode_URIComponent(currentUser.emailprimary)" class="sidedrawerSubHeaderLabel"></Label>
            </StackLayout>
        </GridLayout>
        <StackLayout *ngIf="currentUser" row="1" class="hr-light"></StackLayout>
        <StackLayout *ngIf="currentUser" row="2" class="sidedrawerNavLinks">
            <StackLayout *ngFor="let item of navItems" class="navLink" orientation="horizontal" 
                (tap)="item.text === 'Settings' ? tapSettings($event) : 
                    item.text === 'Logout' ? tapLogout($event) :
                    item.text === 'Security' ? tapSecurity($event) :
                    ''
                    ">
                <Label col="0" class="icon navIcon" [text]="item.icon"></Label>
                <Label col="2" class="navLabel" [text]="item.text"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    
    <GridLayout tkMainContent rows="*, auto">
        <page-router-outlet row="0"></page-router-outlet>
        <StackLayout row="1">
            <navigation-bar></navigation-bar>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>