<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer drawerLocation="right">
    <GridLayout *ngIf="currentUser" #sideDrawer tkDrawerContent rows="auto, auto, *" class="sidedrawer">
        <GridLayout row="0" rows="2*, *" class="sidedrawerHeader">
            <Image row="0" class="displaypicture" [class.displaypicture-silhouette]="currentUser.image === '~/images/silhouette.png'" [src]="currentUser.image" stretch="aspectFill"></Image>
            <StackLayout row="1">
                <Label [text]="currentUser.fname + ' ' + currentUser.lname" class="sidedrawerHeaderLabel"></Label>
                <Label [text]="decode_URIComponent(currentUser.email)" class="sidedrawerSubHeaderLabel"></Label>
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" class="hr-light"></StackLayout>
        <StackLayout row="2" class="sidedrawerNavLinks">
            <StackLayout class="navLink" orientation="horizontal" (tap)='tapSettings()'>
                <Label col="0" class="icon navIcon" [text]="iconSettings"></Label>
                <Label col="2" class="navLabel" text="Settings"></Label>
            </StackLayout>
            <StackLayout class="navLink" orientation="horizontal" (tap)='tapLogout()'>
                <Label col="0" class="icon navIcon" [text]="iconLogout"></Label>
                <Label col="2" class="navLabel" text="Logout"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    
    <GridLayout tkMainContent rows="*, auto">
        <page-router-outlet row="0"></page-router-outlet>
        <StackLayout row="1">
            <navigation-bar></navigation-bar>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>

