<ActionBar visibility="{{ homework ? 'visible' : 'collapse' }}" title="{{ homework.subject }}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem ios.position="right"  android.position="actionBar">
            <Label class="m-5" [text]="homework.dueDate | date: 'dd/MM/yyyy'" color="white"></Label>
    </ActionItem>
</ActionBar>

<StackLayout class="body content">
    <Label [text]="homework.createdBy" class="h3"></Label>
    <Label [text]="homework.createdDate | date:'fullDate'"></Label>
    <Label [text]="homework.status | lowercase"></Label>
    <StackLayout class="hr-light m-5"></StackLayout>
    <Label [text]="homework.task" textWrap="true"></Label>
</StackLayout>