@import "../app.variable.less";

#container {
    padding: 10%;
}

.alertIconCode {
    color: @alertCode;
    margin-top: -8;
    padding-left: 7;
}

.warningIconCode {
    color: @warningCode;
    margin-top: -8;
    padding-left: 7;
}