<actionbar visibility="{{ homework ? 'visible' : 'collapse' }}" title="{{ homework.subject }}" hasNavigationBack="true">
</actionbar>

<StackLayout [visibility]="isLoading ? 'collapse' : 'visible'">
    <StackLayout id="container" class="body" 
        visibility="{{ homework.subject ? 'visible' : 'collapse' }}">

    <Label [text]="homework.createdBy" class="h3"></Label>
    
    <StackLayout orientation="horizontal">
        <Label [text]="homework.createdDate | date:'dd/MM/yyyy' + ' - '" class="h3"></Label>
        <Label [text]="homework.dueDate | date:'dd/MM/yyyy'" class="h3"></Label>
    </StackLayout>
    
    <StackLayout orientation="horizontal">
        <Label [text]="homework.status" class="h3"></Label>
        <Label *ngIf="getHomeworkDeadlineStatus(homework) !== 'good'" [class]="getHomeworkDeadlineStatus(homework) === 'nearDueDate' ? 'icon warningIconCode' : 'icon alertIconCode'" [text]="warningIconCode" verticalAlignment="center"></Label>
    </StackLayout>

    <StackLayout class="hr-light m-5"></StackLayout>

    <Label [text]="homework.task" textWrap="true"></Label>
    </StackLayout>
</StackLayout>
<ActivityIndicator [busy]="isLoading" horizontalAlignment="center"></ActivityIndicator>