<GridLayout rows="auto,*">

    <ScrollView #scrollView row="1" class="content">
        <GridLayout class="input-field" rows="auto">
            <StackLayout class="m-x-10 m-y-20">
                <!-- <StackLayout>
                    <Image class="logo" horizontalAlignment="center" src="~/images/pied-piper-logo.png"></Image>
                    <Label class="lbl-school m-b-10" horizontalAlignment="center" text="PIED PIPER SCHOOL"></Label>
                </StackLayout> -->
                
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Username"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Password"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Date of Birth"></textarea>
                </mat-form-field>

            </StackLayout>
        </GridLayout>
    </ScrollView>

</GridLayout>