@import "../app.variable.less";

.btn-login {
    background-color: @lightBlue;
    color: white;
    height: 60vh;
}

.error-msg {
    color: red;
}

.frame-login {
    margin: 0 5%;
}

.img-logo {
    width: 30%;
    height: 30%;
}

.lbl-school-name {
    font-size: 20%;
    font-weight: bold;
    color: @lightBlue;
}

.ng-dirty {
    border-bottom-color: @lightBlue; 
    border-bottom-width: 1;
}

.ng-invalid {
    border-bottom-color: red; 
    border-bottom-width: 1;
}

.ng-pristine {
    border-bottom-color: #757575;
    border-bottom-width: 1;
}
