<ActionBar android:title="Login"></ActionBar>

<ScrollView>
    <StackLayout class="content" verticalAlignment="center">
        <GridLayout rows="auto,*">
            <Image class="img-logo" row="0" src="~/images/pied-piper-logo.png"></Image>
            <Label class="lbl-school-name m-b-30" row="1" horizontalAlignment="center" text="PIED PIPER SCHOOL"></Label>
        </GridLayout>

        <GridLayout rows="auto,*">
                <TextField #username class="input tf-input m-b-20" required hint="Username" autocapitalizationType="none" returnKeyType="next" [(ngModel)]="user.username"></TextField>
        </GridLayout>

        <GridLayout rows="auto,*">
            <TextField #password class="input tf-input m-b-20" required hint="Password" secure="true" returnKeyType="next" [(ngModel)]="user.password" ></TextField>
        </GridLayout>

        <GridLayout rows="auto,*">
            <TextField #dob class="input tf-input m-b-5" required hint="Date of Birth (dd/mm/yyyy)" keyboardType="datetime" secure="false" [(ngModel)]="user.birthdate" ></TextField>
        </GridLayout>

        <GridLayout rows="auto,*">
            <Label class="error-msg text-center m-y-5" row="0" text="{{errorMessage}}" ></Label>
            <Button class="btn-login m-b-20" row="1" text="Sign in" (tap)="login()"></Button>
        </GridLayout>

        <GridLayout rows="auto,*">
            <Label class="text-center" text="Forgot password?"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>
