.list-label {
    font-size: 13em;
}

.lbl-percentage {
    color: #131313;
    font-size: 15em;
}

.lbl-percentage-short {
    color: #131313;
    font-size: 13em;
}

.summary {
    background-color: fade(#808080, 10%);
}

.summaryLegend {
    background-color: fade(#808080, 12%);
    font-size: 11em;
    padding: 1;
}

.summaryLegendText {
    color: fade(#131313, 80%);
    margin: 2 1 2 1;
    padding: 6;
}