<actionbar title="Attendance" hasNavigationBack="true"></actionbar>

<GridLayout [visibility]="isLoading ? 'collapse' : 'visible'" rows="3*, auto, 8*">
    <GridLayout row="0" rows="*, auto">        
        <GridLayout row="0" columns="*, *, *" class="summary">
            <GridLayout col="0" rows="3*, 6*, 2*">
                <StackLayout row="1">
                    <progressbar-circular
                        [fillColor]="colorAuthorised"
                        [progress]="summAuthValue"
                        [text]="summAuthText">
                    </progressbar-circular>
                </StackLayout>
                <Label row="2" class="summaryLegendText" text="Authorised"
                    verticalAlignment="bottom" horizontalAlignment="center"></Label>
            </GridLayout> 

            <GridLayout col="1" rows="9*, 2*">
                <StackLayout row="0">
                    <progressbar-circular
                        [fillColor]="colorPresent"
                        [progress]="summPresentValue"
                        [text]="summPresentText">
                    </progressbar-circular>
                </StackLayout>
                <Label row="1" class="summaryLegendText" text="Present"
                    verticalAlignment="bottom" horizontalAlignment="center"></Label>
            </GridLayout>

            <GridLayout col="2" rows="3*, 6*, 2*">
                <StackLayout row="1">
                    <progressbar-circular
                        [fillColor]="colorUnauthorised"
                        [progress]="summUnAuthValue"
                        [text]="summUnAuthText">
                    </progressbar-circular>
                </StackLayout>
                <Label row="2" class="summaryLegendText" text="Unauthorised"
                    verticalAlignment="bottom" horizontalAlignment="center"></Label>
            </GridLayout>  
        </GridLayout>
    </GridLayout>

    <StackLayout row="1" class="hr-light"></StackLayout>

    <GridLayout row="2">
        <ListView class="list-group" [items]="attendance">
            <ng-template let-item="item" let-i="index">
                <GridLayout columns="4*, *" class="list-group-item">
                    <Label col="0" class="list-label" [text]='item.date | date:"fullDate"'></Label>
                    <StackLayout col="2">
                        <StackLayout orientation="horizontal">
                            <Label class="list-label-dtl" text="AM: "></Label>
                            <Label class="list-label-dtl" class="icon attendance-icon" [color]="getColor(item.amMark)" [text]='getIcon(item.amMark)'></Label>
                        </StackLayout>
                        <StackLayout orientation="horizontal">
                            <Label class="list-label-dtl" text="PM: "></Label>
                            <Label class="list-label-dtl" class="icon attendance-icon" [color]="getColor(item.pmMark)" [text]='getIcon(item.pmMark)'></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</GridLayout>
<ActivityIndicator [busy]="isLoading" horizontalAlignment="center"></ActivityIndicator>