<actionbar title="Dashboard"></actionbar>

<ScrollView row="0" style.verticalAlignment="center" class="m-10">
    <WrapLayout orientation="horizontal">
        <GridLayout *ngFor="let item of menuList" class="grid-home" rows="*,*" >
            <StackLayout (tap)="onTapList(item.name)">
                <Label class="icon-list p-y-20" row="0" text="{{ item.icon }}"></Label>
                <Label
                    class="lbl-home"
                    row="1"
                    text="{{ item.name }}"
                    horizontalAlignment="center"
                    verticalAlignment="bottom">
                </Label>
            </StackLayout>
        </GridLayout>
    </WrapLayout>     
</ScrollView>