<actionbar title="Notifications" hasNavigationBack="true"></actionbar>

<GridLayout *ngIf="!isLoading">
    <RadListView #listView_notif class="list-group" [items]="allNotification" selectionBehavior="None"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)" 
        (itemTap)="onItemTap($event)"
        swipeActions="true">           
        <ng-template let-item="item">
            <StackLayout col="1" class="listItemStackLayout">
                <StackLayout orientation="horizontal">
                    <Label [text]="item.title" class="list-group-item"></Label>
                </StackLayout>
                <StackLayout class="list-group-item list-group-item-sub">
                    <Label [text]="item.message" ></Label>
                </StackLayout>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
            <StackLayout id="rightSwipe" col="0" class="listItemStackLayout viewStackLayout"></StackLayout>
            <StackLayout id="delete" col="2" class="deleteViewStackLayout viewStackLayout" (tap)="onDelete()">
                <Label text="Delete" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    </RadListView>
</GridLayout>

<ActivityIndicator [busy]="isLoading" horizontalAlignment="center"></ActivityIndicator>